<h1><%= "Contestants of #{@bachelorette.name}'s Season' "%></h1>
  <%@bachelorette.contestants.each do |contestant| %>
    <section id= "contestant-<%=contestant.id%>">
      <p><%= link_to "#{contestant.name}", "/contestants/#{contestant.id}" %></p>
      <p><%= contestant.hometown %></p></section>
  <%end%>
