<h1><%= @bachelorette.name %></h1>

  <p><%= @bachelorette.season_number %></p>
  <p><%= @bachelorette.description%></p>

  <%= link_to "Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>
